* {
    margin: 0;
    padding: 0;
}

div {
    height: 100px;
}

.box-1 {
    background-color: steelblue;
    width: auto;
    width: 60%;
    min-width: 300px;
}

.box-2 {
    background-color: crimson;
    width: 40%;
    max-width: 500px;
}

.box-3 {
    background-color: blueviolet;
    width: 50%;
}

.box-4 {
    background-color: cadetblue;
    width: 200px;
    height: 50px;
}

.box-5 {
    background-color: tomato;
    height: 50px;
    width: 50%;
}
